---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Whozinberg. Mapping the community.'>
	<main class='w-screen h-screen h-screen-ios flex items-center justify-center'>
		<div class='flex flex-col justify-center items-center'>
			<div class='w-40 h-40 sm:w-96 sm:h-96 mb-8'>
				<svg class='w-full inline -z-1' id='logo' viewBox='0 0 639 616' fill='none' xmlns='http://www.w3.org/2000/svg'>
					<path
						d='M591.45 469.979C505.192 619.38 349.045 647.63 164.656 584.249C-19.7322 520.868 -35.8982 307.057 50.3625 157.655C136.62 8.26537 203.211 -46.1816 477.046 43.3859C650.644 104.616 677.708 320.578 591.45 469.979Z'
						fill='#24D1D2'></path>
				</svg>
			</div>
			<div class='text-center flex flex-col items-center justify-center'>
				<h1 class='text-2xl sm:text-5xl lg:text-8xl'>Welcome back to <span class='text-gradient'>Whozinberg</span></h1>
				<p class='text-center pt-8 text-base sm:text-2xl lg:text-3xl'>Stay tuned, this is going to be rebuilt.</p>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	#logo {
		z-index: -1;
		animation: spin 60s linear infinite;
	}
</style>
