---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Protected site' fullScreen={true}>
	<main class='w-screen h-screen h-screen-ios flex flex-col items-center justify-center text-zinc-50'>
		<h1 class='text-5xl font-bold'>This is protected.</h1>
		<h2 class='text-2xl pt-4'>Map view</h2>
	</main>
</Layout>

<style>
	h1 {
		font-size: 3rem;
	}
</style>
