---
import Layout from '../../layouts/Layout.astro'
---

<Layout title='Login'>
	<div class='text-left'>
		<div class='flex flex-col gap-y-2 mb-4'>
			<h1 class='text-3xl font-bold'>User login</h1>
			<div class='pb-4'>Please enter your email address and password below.</div>
		</div>
		<form action='/api/auth/sign-in' method='post' class='grid grid-cols-1 gap-3 w-full'>
			<div class='grid grid-cols-1 gap-2'>
				<label for='email' class='font-medium dark:text-zinc-300 text-zinc-50 text-sm'>Email</label>
				<input
					id='email'
					type='email'
					name='email'
					class='text-black block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50'
				/>
			</div>
			<div class='grid grid-cols-1 gap-2'>
				<label for='password' class='font-medium dark:text-zinc-300 text-zinc-50 text-sm'>Password</label>
				<input
					id='password'
					type='password'
					name='password'
					class='text-black block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50'
				/>
			</div>
			<p class='text-red-400'>Forgot your password? <a class='underline' href='/user/magic-link'>Login using a Magic Link.</a></p>
			<button
				type='submit'
				class='py-3 font-bold bg-green-600 hover:bg-green-700 border-zinc-900 py-1.5 border rounded-md mt-4 dark:text-zinc-900 text-zinc-100 font-medium text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:opacity-50 disabled:cursor-not-allowed'
			>
				Sign in
			</button>
		</form>
	</div>
</Layout>

<style is:global>
	#send-magic-link {
		background-color: var(--accent-color);
		background-image: var(--accent-gradient-dark);
		color: black;
		font-weight: bold;
	}
	#send-magic-link:hover {
		background-color: white;
		background-image: unset;
	}
</style>
