---
import Layout from '../../layouts/Layout.astro'
---

<Layout title='Magic Link'>
	<div class='text-left'>
		<div class='flex flex-col gap-y-2 mb-4'>
			<h1 class='text-3xl font-bold'>🏝️ Trying to log you in...</h1>
			<!-- <div class='pb-4'>Thanks for your patience.</div> -->
		</div>
	</div>
</Layout>

<script is:inline>
	async function parseMagicLink(req) {
		// console.log(req)

		const vals = window.location.hash
			.substring(1)
			.split('&')
			.map((kv) => kv.split('='))
		const hashParameters = new Map(vals)

		// console.log(hashParameters)

		if (!hashParameters.has('access_token')) {
			return
		}

		const data = await fetch('/api/auth/sign-in-magic-link', {
			method: 'POST',
			headers: new Headers({ 'Content-Type': 'application/json' }),
			credentials: 'same-origin',
			body: JSON.stringify({
				access_token: hashParameters.get('access_token'),
				expires_in: hashParameters.get('expires_in'),
				refresh_token: hashParameters.get('refresh_token'),
			}),
		})

		if (data.ok) {
			setTimeout(() => {
				window.location.replace('/user/settings')
			}, 500)
		}
	}

	parseMagicLink()
</script>
