---
import Layout from '../../layouts/Layout.astro'
---

<Layout title='Magic Link'>
	<div class='text-left'>
		<div class='flex flex-col gap-y-2 mb-4'>
			<h1 class='text-3xl font-bold'>Login using Magic Link</h1>
			<div class='pb-4'>Please enter your email address below.</div>
		</div>
		<form action='/api/auth/send-magic-link' method='post' class='grid grid-cols-1 gap-3 w-full'>
			<div class='grid grid-cols-1 gap-2'>
				<label for='email' class='font-medium dark:text-zinc-300 text-zinc-50 text-sm'>Email</label>
				<input
					id='email'
					type='email'
					name='email'
					class='text-black block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50'
				/>
			</div>
			<button
				type='submit'
				class='py-3 font-bold bg-green-600 hover:bg-green-700 border-zinc-900 py-1.5 border rounded-md mt-4 dark:text-zinc-900 text-zinc-100 font-medium text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:opacity-50 disabled:cursor-not-allowed'
			>
				Get Magic Link
			</button>
		</form>
	</div>
</Layout>
