---
import type { User } from '../../data/types'
import Layout from '../../layouts/Layout.astro'

import EditableField from '../../components/EditableField'

// @ts-ignore: Type definitions for locals are missing
const user: User = Astro.locals.user
// console.log(user)

let userProfile: User = null

const response = await fetch(`${import.meta.env.PUBLIC_BASE_URL}/api/fetch-profile?identity_id=${user.id}`)

if (!response.ok) {
	console.log('Error fetching user profile')
} else {
	userProfile = await response.json()
}
---

<Layout title='Whozinberg. Mapping the community.' fullScreen={true}>
	<div class='flex flex-col gap-3'>
		<h1 class='text-4xl font-bold'>User settings</h1>
		{
			userProfile && (
				<div class='flow-root'>
					<div class='-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8'>
						<div class='inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8'>
							<table class='min-w-full'>
								<tbody class='bg-white'>
									<tr class='border-t border-gray-200'>
										<th
											colspan='5'
											scope='colgroup'
											class='bg-gray-50 py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3'
										>
											Your user data
										</th>
									</tr>
									<tr class='border-t border-gray-300'>
										<td class='text-left whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3'>ID</td>
										<td class='text-left whitespace-nowrap px-3 py-4 text-sm text-gray-500'>{userProfile.id}</td>
										<td class='relative whitespace-nowrap py-4 pl-3 pr-4 text-left text-sm font-medium sm:pr-3'>
											<a href='#' class='text-blue-400 hover:text-purple-700'>
												Save<span class='sr-only'>, Profile ID</span>
											</a>
										</td>
									</tr>
									<tr class='border-t border-gray-300'>
										<td class='text-left whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3'>Email</td>
										<td class='text-left whitespace-nowrap px-3 py-4 text-sm text-gray-500'>{userProfile.email}</td>
										<td class='relative whitespace-nowrap py-4 pl-3 pr-4 text-left text-sm font-medium sm:pr-3'>
											<a href='#' class='text-blue-400 hover:text-purple-700'>
												Save<span class='sr-only'>, Email address</span>
											</a>
										</td>
									</tr>
									<tr class='border-t border-gray-300'>
										<td class='text-left whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3'>Username</td>
										<td class='text-left whitespace-nowrap px-3 py-4 text-sm text-gray-500'>{userProfile.username}</td>
										<td class='relative whitespace-nowrap py-4 pl-3 pr-4 text-left text-sm font-medium sm:pr-3'>
											<a href='#' class='text-blue-400 hover:text-purple-700'>
												Save<span class='sr-only'>, Username</span>
											</a>
										</td>
									</tr>
									<tr class='border-t border-gray-300'>
										<td class='text-left whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3'>Full name</td>
										<td class='text-left whitespace-nowrap px-3 py-4 text-sm text-gray-500'>{userProfile.full_name}</td>
										<td class='relative whitespace-nowrap py-4 pl-3 pr-4 text-left text-sm font-medium sm:pr-3'>
											<a href='#' class='text-blue-400 hover:text-purple-700'>
												Save<span class='sr-only'>, Full name</span>
											</a>
										</td>
									</tr>
									<tr class='border-t border-gray-300'>
										<td class='text-left whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3'>Website</td>
										<td class='text-left whitespace-nowrap px-3 py-4 text-sm text-gray-500'>{userProfile.website}</td>
										<td class='relative whitespace-nowrap py-4 pl-3 pr-4 text-left text-sm font-medium sm:pr-3'>
											<a href='#' class='text-blue-400 hover:text-purple-700'>
												Save<span class='sr-only'>, Website</span>
											</a>
										</td>
									</tr>
									<tr>
										<EditableField
											client:load
											label='Username'
											value={userProfile.username || ''}
											onSave={function (field, newValue: string) {
												/* handle saving logic here */
												console.log(field, newValue)
											}}
										/>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			)
		}
	</div>
</Layout>

<style>
	main {
		margin-top: 8rem;
	}
</style>
