---
import { NAVBAR_LINKS, PROFILE_LINKS } from '../data/links.js'

const isLoggedIn = Astro.locals.isLoggedIn
const userRole = isLoggedIn ? 'user' : 'guest'

const visibleNavBarLinks = NAVBAR_LINKS.filter((link) => {
	return link.visible.includes(userRole)
})

const visibleProfileLinks = PROFILE_LINKS.filter((link) => {
	return link.visible.includes(userRole)
})
---

<nav>
	<div class='mx-auto max-w-7xl px-2 sm:px-4 lg:px-8'>
		<div class='relative flex h-16 items-center justify-between'>
			<div class='flex items-center px-2 lg:px-0'>
				<div class='flex-shrink-0 w-9 h-9 sm:w-12 sm:h-12'>
					<a href="/">
						<svg class='w-full inline logo' viewBox='0 0 639 616' fill='none' xmlns='http://www.w3.org/2000/svg'>
							<path
								d='M591.45 469.979C505.192 619.38 349.045 647.63 164.656 584.249C-19.7322 520.868 -35.8982 307.057 50.3625 157.655C136.62 8.26537 203.211 -46.1816 477.046 43.3859C650.644 104.616 677.708 320.578 591.45 469.979Z'
								fill='#F4F4F5'
							></path>								
						</svg>
					</a>
				</div>
				<div class='hidden lg:ml-6 lg:block'>
					<div class='flex space-x-4'>
						<!-- Current: "bg-zinc-900 text-white", Default: "text-zinc-300 hover:bg-zinc-700 hover:text-white" -->
						{
							visibleNavBarLinks.map((link) => {
								return (
									<a
										href={link.href}
										class='flex  gap-2 rounded-md border-2 border-zinc-900 px-3 py-2 text-sm font-medium text-zinc-900 transition-all hover:bg-zinc-100 cursor-pointer'
									>
										{link.icon && link.icon !== '' && <span>{link.icon}</span>}<span>{link.title}</span>
									</a>
								)
							})
						}
					</div>
				</div>
			</div>
			{
				isLoggedIn && (
					<div class='flex-1 flex justify-center px-2 lg:ml-6 lg:justify-end'>
						<div class='max-w-lg w-full lg:max-w-xs'>
							<label for='search' class='sr-only'>
								Search
							</label>
							<div class='relative'>
								<div class='pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3'>
									<svg class='h-5 w-5 text-zinc-400' viewBox='0 0 20 20' fill='currentColor' aria-hidden='true'>
										<path
											fill-rule='evenodd'
											d='M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z'
											clip-rule='evenodd'
										/>
									</svg>
								</div>
								<input
									id='search'
									name='search'
									class='block w-full rounded-md border-0 bg-zinc-800 py-1.5 pl-10 pr-3 text-zinc-300 placeholder:text-zinc-400 focus:bg-zinc-100 focus:text-zinc-900 focus:ring-0 sm:text-sm sm:leading-6'
									placeholder='Search'
									type='search'
								/>
							</div>
						</div>
					</div>
				)
			}
			<div class='flex lg:hidden'>
				<!-- Mobile menu button -->
				<button
					id="mobile-menu--button"
					type='button'
					class='relative inline-flex items-center justify-center rounded-full p-2 text-zinc-400 bg-zinc-700 hover:bg-zinc-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white'
					aria-controls='mobile-menu'
					aria-expanded='false'
				>
					<span class='pointer-events-none absolute -inset-0.5'></span>
					<span class='pointer-events-none sr-only'>Open main menu</span>
					<!-- Icon when menu is closed. Menu open: "hidden", Menu closed: "block" -->
					<svg class='pointer-events-none block h-6 w-6' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='true'>
						<path stroke-linecap='round' stroke-linejoin='round' d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5'></path>
					</svg>
					<!-- Icon when menu is open. Menu open: "block", Menu closed: "hidden" -->
					<svg class='pointer-events-none hidden h-6 w-6' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='true'>
						<path stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6M6 6l12 12'></path>
					</svg>
				</button>
			</div>
            {isLoggedIn && (
                <div class='hidden lg:block lg:ml-4'>
                    <div class='flex items-center'>
                        <button
                            type='button'
                            class='relative flex-shrink-0 rounded-full bg-zinc-800 p-1 text-zinc-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-zinc-800'
                        >
                            <span class='absolute -inset-1.5'></span>
                            <span class='sr-only'>View notifications</span>
                            <svg class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='true'>
                                <path
                                    stroke-linecap='round'
                                    stroke-linejoin='round'
                                    d='M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0'
                                ></path>
                            </svg>
                        </button>
    
                        <!-- Profile dropdown -->
                        <div class='relative ml-4 flex-shrink-0'>
                            <div>
                                <button
                                    type='button'
                                    class='relative flex rounded-full bg-zinc-800 text-sm text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-zinc-800'
                                    id='user-menu--button'
                                    aria-expanded='false'
                                    aria-haspopup='true'
                                >
                                    <span class='absolute -inset-1.5 pointer-events-none'></span>
                                    <span class='sr-only pointer-events-none'>Open user menu</span>
                                    <img
                                        class='h-8 w-8 rounded-full pointer-events-none'
                                        src='https://cdn.sanity.io/images/mmutktxq/production/f210258f24e0a2c0662e85f54a5374001b3aa98f-788x789.png?w=788&h=789&auto=format'
                                        alt=''
                                    />
                                </button>
                            </div>
                            <div
								id="user-menu"
                                class='hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-zinc-100 py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none'
                                role='menu'
                                aria-orientation='vertical'
                                aria-labelledby='user-menu--button'
                                tabindex='-1'
                            >
                                {
                                    visibleProfileLinks.map((link) => {
                                        return (
                                            <a href={link.href} class='flex gap-x-2 px-4 py-2 text-sm text-zinc-700 hover:bg-white' role='menuitem' tabindex='-1' id='user-menu-item-0'>
                                                {link.icon && link.icon !== '' && <span>{link.icon}</span>}<span>{link.title}</span>
                                            </a>
                                        )
                                    })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            )}
		</div>
	</div>

	<!-- Mobile menu, show/hide based on menu state. -->
	<div class='hidden lg:hidden z-50 relative bg-zinc-800' id='mobile-menu'>
		<div class='space-y-1 px-2 pb-3 pt-2'>
			<!-- Current: "bg-zinc-900 text-white", Default: "text-zinc-300 hover:bg-zinc-700 hover:text-white" -->
			{
				visibleNavBarLinks.map((link, i) => {
					return (
						<a href={link.href} class=`flex gap-2 rounded-md bg-zinc-700 px-3 py-2 text-base font-medium text-white`>
							{link.icon && link.icon !== '' && <span>{link.icon}</span>}<span>{link.title}</span>
						</a>
					)
				})
			}
			<div class='border-t border-zinc-700 pb-0 pt-4'>
				<div class='flex items-center px-5'>
					<div class='flex-shrink-0'>
						<img
							class='h-10 w-10 rounded-full'
							src='https://cdn.sanity.io/images/mmutktxq/production/f210258f24e0a2c0662e85f54a5374001b3aa98f-788x789.png?w=788&h=789&auto=format'
							alt=''
						/>
					</div>
					<div class='ml-3'>
						<div class='text-base font-medium text-white'>Marc Duby</div>
						<div class='text-sm font-medium text-zinc-400'>marc@duby.co.za</div>
					</div>
					<button
						type='button'
						class='relative ml-auto flex-shrink-0 rounded-full bg-zinc-800 p-1 text-zinc-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-zinc-800'
					>
						<span class='absolute -inset-1.5'></span>
						<span class='sr-only'>View notifications</span>
						<svg class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='true'>
							<path
								stroke-linecap='round'
								stroke-linejoin='round'
								d='M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0'
							></path>
						</svg>
					</button>
				</div>
				<div class='mt-3 space-y-1 px-2'>
					{
						visibleProfileLinks.map((link) => {
							return (
								<a href={link.href} class='flex gap-2 rounded-md px-3 py-2 text-base font-medium text-zinc-400 hover:bg-zinc-700 hover:text-white'>
									{link.icon && link.icon !== '' && <span>{link.icon}</span>}<span>{link.title}</span>
								</a>
							)
						})
					}
				</div>
			</div>
		</div>
	</div>
</nav>

<style>
    @keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.logo {
		animation: spin 60s linear infinite;
	}
</style>

<script>
	const userMenu = document.getElementById('user-menu');
	const userMenuButton = document.getElementById('user-menu--button');
	const mobileMenu = document.getElementById('mobile-menu');
	const mobileMenuButton = document.getElementById('mobile-menu--button');		

    // Function to toggle the navbar
    function toggleUserMenu() {
		if (userMenu) {
			userMenu?.classList.toggle('hidden');
		}
    }

	// Function to check if the click is outside the navbar
	function handleClickOutside(event) {
		if (!userMenu) return
		// Check if the menu is visible and the clicked target is neither the menu nor the button
		if (!userMenu.classList.contains('hidden') && !userMenu.contains(event.target) && event.target !== userMenuButton) {
			toggleUserMenu();
		}
	}

	function toggleMobileMenu() {	
		if (!mobileMenu) return
		mobileMenu?.classList.toggle('hidden');
	}

	function handleTapOutside(event) {
		if(!mobileMenu) return

		// Check if the menu is visible and the clicked target is neither the menu nor the button
		if (!mobileMenu.classList.contains('hidden') && !mobileMenu.contains(event.target) && event.target !== mobileMenuButton) {
			toggleMobileMenu();
		}
	}
	
	// Attach event listeners
	document.addEventListener('DOMContentLoaded', () => {
		if (userMenuButton) userMenuButton.addEventListener('click', toggleUserMenu);
		if (userMenuButton) userMenuButton.addEventListener('click', toggleUserMenu);
		if (mobileMenuButton) mobileMenuButton.addEventListener('click', toggleMobileMenu);
		document.addEventListener('click', handleClickOutside);
		document.addEventListener('click', handleTapOutside);
	});

	// Cleanup to remove the global event listener
	// This part is important to prevent memory leaks
	document.addEventListener('unload', (event) => {
		document.removeEventListener('click', handleClickOutside);
	});
</script>