---
import { SEO } from 'astro-seo'

import NavBar from '../components/NavBar.astro'

export interface Props {
	title: string
	fullScreen?: boolean
}

const { title, fullScreen } = Astro.props as Props

// Access locals value to find out if user is logged in
// const isLoggedIn = Astro.locals.isLoggedIn

import '../styles/global.css'

import '@fontsource/outfit/300.css'
import '@fontsource/outfit/400.css'
import '@fontsource/outfit/700.css'
---

<!doctype html>
<html lang='en'>
	<head>
		<title>{title || 'Whozinberg.'}</title>

		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta name='generator' content={Astro.generator} />

		<link rel='icon' type='image/x-icon' href='/favicon.ico' />
		<link rel='icon' href='/favicon.ico' type='image/x-icon' />
		<link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
		<link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
		<link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
		<link rel='icon' type='image/png' sizes='192x192' href='/android-chrome-192x192.png' />
		<link rel='icon' type='image/png' sizes='512x512' href='/android-chrome-512x512.png' />

		<SEO
			title={title}
			description='A community project by Marc Duby.'
			twitter={{
				card: 'summary',
				site: '@marcduby',
			}}
			extend={{
				meta: [
					{
						name: 'twitter:image',
						content: '/teaser.png',
					},
					{ name: 'twitter:title', content: title || 'Whozinberg' },
					{ name: 'twitter:description', content: 'A community project by Marc Duby.' },
					{ name: 'description', content: 'A community project by Marc Duby.' },
					{ name: 'og:title', content: title || 'Whozinberg' },
					{ name: 'og:description', content: title || 'A community project by Marc Duby.' },
					{ name: 'og:image', content: title || '/teaser.png' },
				],
			}}
		/>
	</head>

	<body class={'text-zinc-50'}>
		<header class='absolute top-0 left-0 bg-zinc-50 w-full p-3 z-50'>
			<NavBar />
		</header>
		{
			fullScreen ? (
				<main class='absolute top-0 left-0 w-full h-full flex items-center justify-center overflow-hidden'>
					<div class='text-center'>
						<slot />
					</div>
				</main>
			) : (
				<main class='absolute top-0 left-0 w-full h-full flex items-center justify-center'>
					<div class='text-center'>
						<slot />
					</div>
				</main>
			)
		}
		<style is:global>
			:root {
				--accent: 36, 209, 210;
				--accent-light: 224, 204, 250;
				--accent-dark: 49, 10, 101;
				--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
				--accent-gradient-dark: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 70%);
			}
			html {
				font-family: system-ui, sans-serif;
				background: #13151a;
				background-size: 224px;
			}
			code {
				font-family:
					Menlo,
					Monaco,
					Lucida Console,
					Liberation Mono,
					DejaVu Sans Mono,
					Bitstream Vera Sans Mono,
					Courier New,
					monospace;
			}
			header {
				background-image: var(--accent-gradient-dark);
			}
		</style>
	</body>
</html>
